export layout 

block courses 

  main(id="main" data-aos="fade-in")

    //- <!-- ======= Breadcrumbs ======= -->
    div(class="breadcrumbs")
      div(class="container")
        h2 Courses 
        p Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. 
    
    //- <!-- ======= Courses Section ======= -->
    section(id="courses" class="courses")
      div(class="container" data-aos="fade-up")

        div(class="row" data-aos="zoom-in" data-aos-delay="100")

          div(class="col-lg-4 col-md-6 d-flex align-items-stretch")
            div(class="course-item")
              img(src="assets/img/course-1.jpg" class="img-fluid" alt="...")
              div(class="course-content")
                div(class="d-flex justify-content-between align-items-center mb-3") 
                  h4 Web Development 
                  p(class="price") $169
                
                h3
                    a(href="course-details.html") Website Design 
                p Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.
                div(class="trainer d-flex justify-content-between align-items-center")
                  div(class="trainer-profile d-flex align-items-center")
                    img(src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="")
                    span Antonio
                  div(class="trainer-rank d-flex align-items-center")
                    i(class="bx bx-user") &nbsp;50&nbsp;&nbsp;
                    i(class="bx bx-heart") &nbsp;65
          
          div(class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0")
            div(class="course-item")
              img(src="assets/img/course-2.jpg" class="img-fluid" alt="...")
              div(class="course-content")
                div(class="d-flex justify-content-between align-items-center mb-3")
                  h4 Marketing 
                  p(class="price") $250
                
                h3
                    a(href="course-details.html") Search Engine Optimization 
                p Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.
                div(class="trainer d-flex justify-content-between align-items-center")
                  div(class="trainer-profile d-flex align-items-center")
                    img(src="assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="")
                    span Lana 
                  div(class="trainer-rank d-flex align-items-center")
                    i(class="bx bx-user") &nbsp;35&nbsp;&nbsp;
                    i(class="bx bx-heart") &nbsp;42
          
          div(class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0")
            div(class="course-item")
              img(src="assets/img/course-3.jpg" class="img-fluid" alt="...")
              div(class="course-content")
                div(class="d-flex justify-content-between align-items-center mb-3")
                  h4 Content 
                  p(class="price") $180
                
                h3
                    a(href="course-details.html") Copywriting 
                p Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.
                div(class="trainer d-flex justify-content-between align-items-center")
                  div(class="trainer-profile d-flex align-items-center")
                    img(src="assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="")
                    span Brandon 
                  div(class="trainer-rank d-flex align-items-center")
                    i(class="bx bx-user") &nbsp;20&nbsp;&nbsp;
                    i(class="bx bx-heart") &nbsp;85