extends layout

block content

  //- <!-- ======= Hero Section ======= -->
  section(id="hero" class="d-flex justify-content-center align-items-center")
    div(class="container position-relative" data-aos="zoom-in" data-aos-delay="100")
      h1 Learning Today, 
        <br> Leading Tomorrow
      h2 We are team of talented designers making websites with Bootstrap
      a(href="courses.html" class="btn-get-started") Get Started
  //- <!-- End Hero -->

  main(id="main")

    //- <!-- ======= About Section ======= -->
    section(id="about" class="about")
      div(class="container" data-aos="fade-up")

        div(class="row")
          div(class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100")
            img(src="assets/img/about.jpg" class="img-fluid" alt="")
          div(class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content")
            h3 Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.
            p(class="fst-italic") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            ul
              li 
                i(class="bi bi-check-circle") Ullamco laboris nisi ut aliquip ex ea commodo consequat.
              li 
                i(class="bi bi-check-circle") Duis aute irure dolor in reprehenderit in voluptate velit.
              li 
                i(class="bi bi-check-circle") Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.
            p Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
    //- <!-- End About Section -->

    //- <!-- ======= Counts Section ======= -->
    section(id="counts" class="counts section-bg")
      div(class="container")

        div(class="row counters")

          div(class="col-lg-3 col-6 text-center")
            span(data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter")
            p Students
          
          div(class="col-lg-3 col-6 text-center")
            span(data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter")
            p Courses
          
          div(class="col-lg-3 col-6 text-center")
            span(data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter")
            p Events
          
          div(class="col-lg-3 col-6 text-center")
            span(data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter")
            p Trainers
    //- <!-- End Counts Section -->

    //- <!-- ======= Why Us Section ======= -->
    section(id="why-us" class="why-us")
      div(class="container" data-aos="fade-up")

        div(class="row")
          div(class="col-lg-4 d-flex align-items-stretch")
            div(class="content")
              h3 Why Choose Mentor?
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
              div(class="text-center")
                a(href="about.html" class="more-btn") Learn More 
                  i(class="bx bx-chevron-right")
          div(class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100")
            div(class="icon-boxes d-flex flex-column justify-content-center")
              div(class="row")
                div(class="col-xl-4 d-flex align-items-stretch")
                  div(class="icon-box mt-4 mt-xl-0")
                    i(class="bx bx-receipt")
                    h4 Corporis voluptates sit
                    p Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip
                div(class="col-xl-4 d-flex align-items-stretch")
                  div(class="icon-box mt-4 mt-xl-0")
                    i(class="bx bx-cube-alt")
                    h4 Ullamco laboris ladore pan
                    p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                div(class="col-xl-4 d-flex align-items-stretch")
                  div(class="icon-box mt-4 mt-xl-0")
                    i(class="bx bx-images")
                    h4 Labore consequatur
                    p Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere 
                            
    //- <!-- End Why Us Section -->

    //- <!-- ======= Features Section ======= -->
    section(id="features" class="features")
      div(class="container" data-aos="fade-up")

        div(class="row" data-aos="zoom-in" data-aos-delay="100")
          div(class="col-lg-3 col-md-4")
            div(class="icon-box")
              i(class="ri-store-line" style="color: #ffbb2c;")
              h3
                a(href="") Lorem Ipsum
          div(class="col-lg-3 col-md-4 mt-4 mt-md-0")
            div(class="icon-box")
              i(class="ri-bar-chart-box-line" style="color: #5578ff;")
              h3
                a(href="") Dolor Sitema 
          div(class="col-lg-3 col-md-4 mt-4 mt-md-0")
            div(class="icon-box")
              i(class="ri-calendar-todo-line" style="color: #e80368;")
              h3
                a(href="") Sed perspiciatis
          div(class="col-lg-3 col-md-4 mt-4 mt-lg-0")
            div(class="icon-box")
              i(class="ri-paint-brush-line" style="color: #e361ff;")
              h3
                a(href="") Magni Dolores
          div(class="col-lg-3 col-md-4 mt-4")
            div(class="icon-box")
              i(class="ri-database-2-line" style="color: #47aeff;")
              h3
                a(href="") Nemo Enim
          div(class="col-lg-3 col-md-4 mt-4")
            div(class="icon-box")
              i(class="ri-gradienter-line" style="color: #ffa76e;")
              h3 
                a(href="") Eiusmod Tempor
          div(class="col-lg-3 col-md-4 mt-4")
            div(class="icon-box")
              i(class="ri-file-list-3-line" style="color: #11dbcf;")
              h3
                a(href="") Midela Teren
          div(class="col-lg-3 col-md-4 mt-4")
            div(class="icon-box")
              i(class="ri-price-tag-2-line" style="color: #4233ff;")
              h3
                a(href="") Pira Neve
          div(class="col-lg-3 col-md-4 mt-4")
            div(class="icon-box")
              i(class="ri-anchor-line" style="color: #b2904f;")
              h3
                a(href="") Dirada Pack
          div(class="col-lg-3 col-md-4 mt-4")
            div(class="icon-box")
              i(class="ri-disc-line" style="color: #b20969;")
              h3
                a(href="") Moton Ideal
          div(class="col-lg-3 col-md-4 mt-4")
            div(class="icon-box")
              i(class="ri-base-station-line" style="color: #ff5828;")
              h3
                a(href="") Verdo Park
          div(class="col-lg-3 col-md-4 mt-4")
            div(class="icon-box")
              i(class="ri-fingerprint-line" style="color: #29cc61;")
              h3
                a(href="") Flavor Nivelanda
    //- <!-- End Features Section -->

    //- <!-- ======= Popular Courses Section ======= -->
    section(id="popular-courses" class="courses")
      div(class="container" data-aos="fade-up")

        div(class="section-title")
          h2 Courses 
          p Popular Courses 
        div(class="row" data-aos="zoom-in" data-aos-delay="100")

          div(class="col-lg-4 col-md-6 d-flex align-items-stretch")
            div(class="course-item")
              img(src="assets/img/course-1.jpg" class="img-fluid" alt="...")
              div(class="course-content")
                div(class="d-flex justify-content-between align-items-center mb-3")
                  h4 Web Development 
                  p(class="price") $169
                h3
                  a(href="course-details.html") Website Design
                p Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.
                div(class="trainer d-flex justify-content-between align-items-center")
                  div(class="trainer-profile d-flex align-items-center")
                    img(src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="")
                    span Antonio
                  div(class="trainer-rank d-flex align-items-center")
                    i(class="bx bx-user") &nbsp;50 &nbsp;&nbsp;
                    i(class="bx bx-heart") &nbsp;65
          
          div(class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0")
            div(class="course-item")
              img(src="assets/img/course-2.jpg" class="img-fluid" alt="...")
              div(class="course-content")
                div(class="d-flex justify-content-between align-items-center mb-3")
                  h4 Marketing
                  p(class="price") $250
                
                h3
                  a(href="course-details.html") Search Engine Optimization 
                p Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.
                div(class="trainer d-flex justify-content-between align-items-center")
                  div(class="trainer-profile d-flex align-items-center")
                    img(src="assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="")
                    span Lana
                  div(class="trainer-rank d-flex align-items-center")
                    i(class="bx bx-user") &nbsp;35 &nbsp;&nbsp;
                    i(class="bx bx-heart") &nbsp;42
          
          div(class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0")
            div(class="course-item")
              img(src="assets/img/course-3.jpg" class="img-fluid" alt="...")
              div(class="course-content")
                div(class="d-flex justify-content-between align-items-center mb-3")
                  h4 Content
                  p(class="price") $180
                h3
                  a(href="course-details.html") Copywriting 
                p Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.
                div(class="trainer d-flex justify-content-between align-items-center")
                  div(class="trainer-profile d-flex align-items-center")
                    img(src="assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="")
                    span Brandon
                  div(class="trainer-rank d-flex align-items-center")
                    i(class="bx bx-user") &nbsp;20&nbsp;&nbsp;
                    i(class="bx bx-heart") &nbsp;85
    //- <!-- End Popular Courses Section -->

    //- <!-- ======= Trainers Section ======= -->
    section(id="trainers" class="trainers")
      div(class="container" data-aos="fade-up")

        div(class="row" data-aos="zoom-in" data-aos-delay="100")
          div(class="col-lg-4 col-md-6 d-flex align-items-stretch")
            div(class="member")
              img(src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="")
              div(class="member-content")
                h4 Walter White 
                span Web Development 
                p Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                div(class="social")
                  a(href="")
                    i(class="bi bi-twitter")
                  a(href="")
                    i(class="bi bi-facebook")
                  a(href="")
                    i(class="bi bi-instagram")
                  a(href="")
                    i(class="bi bi-linkedin")
          
          div(class="col-lg-4 col-md-6 d-flex align-items-stretch")
            div(class="member")
              img(src="assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="")
              div(class="member-content")
                h4 Sarah Jhinson 
                span Marketing 
                p Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
                div(class="social")
                  a(href="")
                    i(class="bi bi-twitter")
                  a(href="")
                    i(class="bi bi-facebook")
                  a(href="")
                    i(class="bi bi-instagram")
                  a(href="")
                    i(class="bi bi-linkedin")
          
          div(class="col-lg-4 col-md-6 d-flex align-items-stretch")
            div(class="member")
              img(src="assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="")
              div(class="member-content")
                h4 William Anderson 
                span Content 
                p Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                div(class="social")
                  a(href="")
                    i(class="bi bi-twitter")
                  a(href="")
                    i(class="bi bi-facebook")
                  a(href="")
                    i(class="bi bi-instagram")
                  a(href="")
                    i(class="bibi-linkedin")
    //- <!-- End Trainers Section -->                                               
  //- <!-- End #main -->
