extends layout

block navbar 

    //- <!-- ======= Header ======= -->
    header(id="header" class="fixed-top")
        div(class="container d-flex align-items-center")

        h1(class="logo me-auto")
            a(href="index.html") Mentor 
        
        nav(id="navbar" class="navbar order-last order-lg-0")
            ul 
                li
                    a(class="active" href="index.html") Home 
                li
                    a(href="about.html") About 
                li
                    a(href="courses.html") Courses 
                li
                    a(href="trainers.html") Trainers 
                li
                    a(href="events.html") Events 
                li
                    a(href="pricing.html") Pricing 

                li(class="dropdown")
                    a(href="#")
                        span Drop Down
                            i(class="bi bi-chevron-down")
                    ul 
                        li
                            a(href="#") Drop Down 1 
                        li(class="dropdown")
                            a(href="#")
                                span Deep Drop Down
                                    i(class="bi bi-chevron-right")
                            ul 
                                li
                                    a(href="#") Deep Drop Down 1 
                                li
                                    a(href="#") Deep Drop Down 2 
                                li
                                    a(href="#") Deep Drop Down 3 
                                li
                                    a(href="#") Deep Drop Down 4 
                                li
                                    a(href="#") Deep Drop Down 5 
                        li
                            a(href="#") Drop Down 2
                        li
                            a(href="#") Drop Down 3 
                        li
                            a(href="#") Drop Down 4 
                li
                    a(href="contact.html") Contact 
            i(class="bi bi-list mobile-nav-toggle")
        
        a(href="courses.html" class="get-started-btn") Get Started 
    //- <!-- End Header -->