export layout 

block princing 

  main(id="main")
    //- <!-- ======= Breadcrumbs ======= -->
    div(class="breadcrumbs" data-aos="fade-in")
      div(class="container")
        h2 Pricing
        p Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
    
    //- <!-- ======= Pricing Section ======= -->
    section(id="pricing" class="pricing")
      div(class="container" data-aos="fade-up")

        div(class="row")

          div(class="col-lg-3 col-md-6")
            div(class="box")
              h3 Free
              h4 
                sup $ 
                0
                span / month
              ul
                li Aida dere
                li Nec feugiat nisl
                li Nulla at volutpat dola
                li( class="na") Pharetra massa
                li( class="na") Massa ultricies mi
              
              div(class="btn-wrap")
                a(href="#" class="btn-buy") Buy Now
          div(class="col-lg-3 col-md-6 mt-4 mt-md-0")
            div(class="box featured")
              h3 Business
              h4 
                sup $
                19
                span / month
              ul
                li Aida dere
                li Nec feugiat nisl
                li Nulla at volutpat dola
                li Pharetra massa
                li( class="na") Massa ultricies mi
              div(class="btn-wrap")
                a(href="#" class="btn-buy") Buy Now
          div(class="col-lg-3 col-md-6 mt-4 mt-lg-0")
            div(class="box")
              h3 Developer
              h4 
                sup $ 
                29
                span / month
              ul
                li Aida dere
                li Nec feugiat nisl
                li Nulla at volutpat dola
                li Pharetra massa
                li Massa ultricies mi
              
              div(class="btn-wrap")
                a(href="#" class="btn-buy") Buy Now
          
          div(class="col-lg-3 col-md-6 mt-4 mt-lg-0")
            div(class="box")
              span(class="advanced") Advanced
              h3 Ultimate
              h4 
                sup $
                49
                span / month
              ul
                li Aida dere
                li Nec feugiat nisl
                li Nulla at volutpat dola
                li Pharetra massa
                li Massa ultricies mi
              
              div(class="btn-wrap")
                a(href="#" class="btn-buy") Buy Now
