export layout 

block trainer 

  main(id="main" data-aos="fade-in")

    //- <!-- ======= Breadcrumbs ======= -->
    div(class="breadcrumbs")
      div(class="container")
        h2 Trainers 
        p Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium.
    
    //- <!-- ======= Trainers Section ======= -->
    section(id="trainers" class="trainers")
      div(class="container" data-aos="fade-up")

        div(class="row" data-aos="zoom-in" data-aos-delay="100")
          div(class="col-lg-4 col-md-6 d-flex align-items-stretch")
            div(class="member")
              img(src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="")
              div(class="member-content")
                h4 Walter White 
                span Web Development 
                p  Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                div(class="social")
                  a(href="")i(class="bi bi-twitter")
                  a(href="")i(class="bi bi-facebook")
                  a(href="")i(class="bi bi-instagram")
                  a(href="")i(class="bi bi-linkedin")
    
          div(class="col-lg-4 col-md-6 d-flex align-items-stretch")
            div(class="member")
              img(src="assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="")
              div(class="member-content")
                h4 Sarah Jhinson 
                span Marketing 
                p  Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
                div(class="social")
                  a(href="")i(class="bi bi-twitter")
                  a(href="")i(class="bi bi-facebook")
                  a(href="")i(class="bi bi-instagram")
                  a(href="")i(class="bi bi-linkedin")
        
          div(class="col-lg-4 col-md-6 d-flex align-items-stretch")
            div(class="member")
              img(src="assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="")
              div(class="member-content")
                h4 William Anderson 
                span Content 
                p  Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                div(class="social")
                  a(href="")i(class="bi bi-twitter")
                  a(href="")i(class="bi bi-facebook")
                  a(href="")i(class="bi bi-instagram")
                  a(href="")i(class="bi bi-linkedin")
    